.element__like {
    width: 21px;
    height: 18px;
    background-image: url('../../../images/element-like.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}